table {
  border-collapse: collapse;
}

th {
    background-color: black;
    color: white;
}

td {
  padding: 10px;
  vertical-align: top;
}


.editable_td {
    cursor: pointer; /* Indicates it's clickable */
    user-select: none; /* Prevent text selection on click */
}

.editable_td:hover {
    background-color: #e6e6e6;
}

/* Modal Styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.modal_content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more specific, e.g., 500px */
    max-width: 500px; /* Max width for larger screens */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative; /* For positioning the close button */
}

.close_button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close_button:hover,
.close_button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#rename_input {
    width: calc(100% - 20px); /* Account for padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in width */
}

.modal_buttons {
    text-align: right;
}

.modal_buttons button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#cancel_rename {
    background-color: #f44336; /* Red */
    color: white;
}

#cancel_rename:hover {
    background-color: #da190b;
}

#save_rename {
    background-color: #4CAF50; /* Green */
    color: white;
}

#save_rename:hover {
    background-color: #45a049;
}