external/bin
external/include
external/lib
external/cactus-rt
external/cactus_build
external/Catch2
external/catch2_build
external/libgphoto2
external/share
external/venv
webapp/venv
webapp/__pycache__
rasberry-pi-4/ansible/venv
rasberry-pi-4/rpi4-64-bit-fresh.img.bz2
*.d
*.o
lib*.a
src/*/*_bin
