external/bin
external/include
external/lib
external/cactus-rt
external/cactus_build
external/Catch2
external/catch2_build
external/gphoto2
external/json
external/json_build
external/libgphoto2
external/share
external/venv
.pytest_cache
webapp/venv
webapp/__pycache__
webapp/tests/__pycache__
webapp/defaults.console
webapp/defaults.html
webapp/defaults.png
webapp/run.log
raspberry-pi-4/ansible/venv
raspberry-pi-4/rpi4-64-bit-fresh.img.bz2
*.d
*.o
lib*.a
src/*/*_bin
