<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PyControl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>GPS Status</h1>
    <table>
        <tr>
            <th>Connection</th>
            <th>Mode</th>
            <th>Mode Time</th>
            <th>Sats</th>
            <th>Time UCT</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Altitude (m)</th>
        </tr>

        <tr>
            <td>
                <img
                    id="gps-connection"
                    src="{{url_for('static', filename='gps-disconnected.svg')}}"
                    alt="GPS"
                    width="64"
                    height="64"
                >
            </td>
            <td id="gps-mode">N/A</td>
            <td id="gps-mode-time">N/A</td>
            <td id="gps-sats">N/A</td>
            <td id="gps-time">N/A</td>
            <td id="gps-latitude">N/A</td>
            <td id="gps-longitude">N/A</td>
            <td id="gps-altitude">N/A</td>
        </tr>
    </table>

    <h1>Cameras</h1>

    <table id="cameras">

        <thead>
            <tr>
                <th>Connected</th>
                <th>Serial</th>
                <th>Name</th>
                <th>Battery Level</th>
                <th>Port</th>
                <th>Available Shots</th>
                <th>Quality</th>
                <th>Mode</th>
                <th>ISO</th>
                <th>F-Stop</th>
                <th>Shutter</th>
            </tr>
        </thead>

        <tbody></tbody>

    </table>

    <div id="rename_modal" class="modal_overlay"> <div class="modal_content">
            <span class="close_button">&times;</span>
            <h2>Rename Camera</h2>
            <input type="text" id="rename_input">
            <div class="modal_buttons">
                <button id="cancel_rename">Cancel</button>
                <button id="save_rename">OK</button>
            </div>
        </div>
    </div>

    <h1>Event</h1> <div class="event-table-container">
        <table id="event_table"> <thead>
                <tr>
<!--~                     <th class="column_1_header">Label</th> <th>Value 1</th> <th>Value 2</th>  ~-->
                </tr>
            </thead>

            <tbody></tbody>

        </table>
    </div>

    <div id="event_selection_modal" class="modal_overlay"> <div class="modal_content"> <span class="close_button">&times;</span>
            <h2>Select Event File</h2>
            <ul id="file_list"></ul> </div>
    </div>

    <script src="{{ url_for('static', filename='webapp.js') }}"></script>
</body>
</html>